<%- include includes/header.ejs %>

<style>


  @media (max-width: 1280px) {

    html {
      height : 100%;
    }

    body {
      height : 100%;
    }


    body {
      background-color:black;
    }
  }


  @media (min-width: 1280px) {
    body {
      background-image: url('/assets/img/Animals_Monkeys_Angry_gorilla_036459_.jpg');
      background-repeat:no-repeat;
      background-size:cover;
    }
  }


</style>


<div class="silverback-header">
  <div class="container">
    <h1>Silverback</h1>
    <p> High Performance Computing for Viral Evolution </p>
    <p class="lead">
      <a href="/faq" class="btn-lg btn-primary btn-outline-inverse">Docs</a>
    </p>
  </div>
</div>

<span class="clearfix"></span>

<%- include includes/footer.ejs %>

